@font-face {
  font-family: 'Bebas-Bold';
  src: url('/fonts/bebas-bold.otf');
}

.container {
  height: 80vh;
  position: relative;
  overflow: hidden;
  z-index: 300;
}


/*.container::after{
  background:linear-gradient(rgba(65,77,87,0),rgba(253, 172, 84, 0.7));
  bottom: 0;
  content: '';
  height: 40%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}*/

.background {
  width: 100%;
  height: 100%;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 120px;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: url(https://dh136thgitkrt.cloudfront.net/chano-man-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(160deg, #ff776a 0%, #ffc458 100%);
  opacity: 0.96;
}

.content-meta {
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 600px;
  left: 10% !important;
  right: 0;
  word-wrap: break-word !important;
}

.meta {
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
}

.meta:hover {
  color: #FFF;
}

.title {
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 6em;
  font-family: 'Bebas-Bold';
  /*text-shadow: 0px 1px 2px rgba(0,0,0,0.62);*/
  margin: 10px 0px;
}

.img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 65%;
  z-index: 500;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.btn-info {
  display: block;
  margin-top: 20px;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 7px 40px;
  font-size: 20px;
  border-radius: 40px;
  border: 1px solid #FFF;
  font-weight: 400;
}

@media (max-width: 600px) {
  .container {
    height: 85vh !important;
  }
  .title {
    font-size: 3.5em !important;
  }
  .content {
    margin-top: 60px !important;
  }
  .img {
    width: 110% !important;
    max-width: 110% !important;
  }
}

@media (max-width: 769px) {
  .container {
    height: 95vh;
  }
  .content {
    margin-top: 35px;
  }
  .content-meta {
    padding: 30px 30px 0px 30px;
    position: relative;
    margin: 0 auto;
    left: 0 !important;
  }
  .title {
    font-weight: 700;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .titleContainer {
    text-align: center;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.1;
  }
  .img {
    width: 110%;
    max-width: 110% !important;
  }
}

@media (min-width: 768px) {
  .img {
    max-width: 70%
  }
  .container {
    height: 95vh;
  }
}

@media (min-width: 992px) {
  .img {
    max-width: 60%
  }
  .container {
    height: 95vh;
  }
}

@media (min-width: 1200px) {
  .img {
    max-width: 60%
  }
}

@media only screen and (max-device-width: 768px) {
  .container {
    height: 95vh;
  }
  .img {
    max-width: 100%;
  }
}
